body {
    background-color: rgba(211, 211, 211, 0.763);
}
/* used for the headers */
h1 {
    width: 64%;
    text-align: center;
    font-size: 25px;
}
/* used for the reference header */
h2 {
    font-size: 17px;
    font-weight: bold;
}
/* Used for majority of the text (primarily the paragraphs) */
div.a {
    width: 64%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div.b {
    width: 64%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}
/*Figure and .rows are used for the styling of location of the images (putting it in one column on the right side with space between)*/
figure {
    float: right;
    width: 30%;
    margin-top: -950px;
    padding-top: 20px;
    padding-bottom: 20px;
    content: "";
    clear: right;
}
.rows {
    column-count: 1;
    column-gap: 0px;
}
/*controls the caption under the images*/
figcaption {
    text-align: left;
    clear: right;
    display: block;
}
table, th, td {
    border: 3px solid black;
}
/*for the table header*/
caption {
    font-size: 20px;
}
/* allow caption to be a child of table */
table > caption {
    font-weight: bold;
}
/* Help align the table */
.center {
    margin-left: 17%;
}
/* Help the images take up all the width the column was created to have */
img.scaled {
    width: 100%;
}
/* Designed to make the categories of the table to stand out. */
.topRow {
    background-color: rgb(245, 42, 42);
    font-size: 18px;
}